langdetect==1.0.9
nltk>=3.6.4
plotly==5.3.1
transformers>=4.8.2
torch==1.9.0
tokenizers==0.10.3
sentencepiece==0.1.96
streamlit==0.88.0
iso_639==0.4.5
git+https://github.com/huggingface/datasets@1bd9b923b86660ec9c432533cf2b4fa08fee345c
powerlaw==1.5
numpy==1.19.5
pandas==1.3.0
dataclasses==0.6
iso639==0.1.4
python_igraph==0.9.6
PyYAML==5.4.1
scikit_learn==0.24.2
seaborn==0.11.2
streamlit-aggrid
numexpr==2.7.3
huggingface_hub==0.5.1

scikit-learn~=0.24.2
scipy~=1.7.3
tqdm~=4.62.3
pyarrow~=6.0.1
email-validator==1.1.3