
   
name: Sync to Hugging Face hub

on:
  push:
    branches: [main]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: 'true'
          fetch-depth: 0
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          GIT_LFS_SKIP_SMUDGE: 1
        # Forcing for first push, then will switch to do below commented section
        run: git push https://nateraw:$HF_TOKEN@huggingface.co/spaces/huggingface/data-measurements-tool-2 main --force
        # run: |
          # git config --global user.email "naterawdata@gmail.com"
          # git config --global user.name "nateraw"
          # git remote add hf https://nateraw:$HF_TOKEN@huggingface.co/spaces/huggingface/data-measurements-tool-2
          # git fetch --all --prune
          # git rebase hf/main
          # git push https://nateraw:$HF_TOKEN@huggingface.co/spaces/huggingface/data-measurements-tool-2 main
